.circle {
    background-color: yellow;
    height: 100px;
    width: 100px;
    margin: 12px;
    border-radius: 50%;
    color:white;
    transition: background-color .5s, width .5s, height .5s, margin .5s;
}

/* FIZZ - multiples of 3 */
.circle:nth-child(3n) {
    background-color: blue;
}

/* FIZZ - multiples of 3 */
.circle:nth-child(3n)::before {
    content: 'FIZZ';
    position: relative;
    top: 42px;
    left: 33px;
}

.circle:nth-child(3n):hover::before {

    top: 47px;
    left: 38px;
}

/* BUZZ - multiples of 5 */
.circle:nth-child(5n) {
    background-color: green;
}

/* BUZZ - multiples of 5 adding Sudo content*/
.circle:nth-child(5n)::before {
    content: 'BUZZ';
    position: relative;
    top: 42px;
    left: 29px;
}
/* BUZZ - multiples of 5 center text*/
.circle:nth-child(5n):hover::before {

    top: 47px;
    left: 34px;
}

/* FIZZBUZZ - multiples of 15 */
.circle:nth-child(15n) {
    background-color: red;
}

/* FIZZBUZZ - multiples of 15 */
.circle:nth-child(15n)::before {
    content: 'FIZZBUZZ';
    position: relative;
    top: 42px;
    left: 13px;
}

.circle:nth-child(15n):hover::before {
    top: 47px;
    left: 18px;
}

body {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.circle:hover {
    background-color: purple;
    -webkit-box-shadow: 10px 10px 12px 1px rgba(142,140,140,1);
    -moz-box-shadow: 10px 10px 12px 1px rgba(142,140,140,1);
    box-shadow: 10px 10px 12px 1px rgba(142,140,140,1);
    width: 110px;
    height: 110px;
    margin: 7px;
    transition: background-color .5s, width .5s, height .5s, margin .5s;
}

@media only screen and (max-width: 526px) {
    .circle {
        height:150px;
        width: 150px;
        font-size: 24px;
        min-width: 150px;
        transition: background-color .5s, width .5s, height .5s, margin .5s;
    }

    .circle:nth-child(3n)::before {
        top: 78px;
        left: 54px;
    }

    .circle:nth-child(5n)::before {
        top: 77px;
        left: 57px;
    }

    .circle:nth-child(15n)::before {
        top: 76px;
        left: 32px;
    }

    .circle:hover
    {
        width: 180px;
        height: 180px;
        margin: -3px;
        transition: background-color .5s, width .5s, height .5s, margin .5s;
    }

    .circle:nth-child(3n):hover::before {

        top: 75px;
        left: 50px;
    }

    /* BUZZ - multiples of 5 center text*/
.circle:nth-child(5n):hover::before {

    top: 47px;
    left: 34px;
}

.circle:nth-child(15n):hover::before {
    top: 47px;
    left: 18px;
}
}